@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<SampleMVC.Models.Entities.User>;

<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="flex justify-end">
            <a class="button" asp-controller="User" asp-action="CreateUser" >Create a portfolio site</a>
        </div>
        
        <div class="mt-12 flex w-full flex-col items-center space-y-5 justify-center">
            @foreach (var user in Model)
            {
                <div class="w-full h-25 text-2xl hover:bg-gray-300 hover:text-gray-700 transition duration-300 py-5 flex justify-center bg-gray-900 rounded text-gray-100">
                    <a class="text-center w-full" asp-controller="User" asp-action="GetUserPortfolio" asp-route-userId="@user.Id">
                        @user.Name
                    </a>
                </div>
            }
        </div>

    </div>

</section>